<% provide(:title, "Forgot password") %>

<div class="container form-container login-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4 mx-auto">
      <h1 class="form-title">パスワードの再設定</h1>
      <%= form_with(scope: :password_reset, url: password_resets_path, local: true) do |f| %>

        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', placeholder: "Email" %>
        </div>

        <div class="form-group">
          <%= f.submit "Reset", class: "btn btn-primary btn-lg form-submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>