<% provide(:title, "New log") %>
<% provide(:button_text, '投稿する！') %>

<div class="container-lg form-container log-form">
  <h1 class="form-title">新しいログの作成</h1>
  <div class="row">
    <%= render 'log_form' %>
  </div>
</div>