<footer>
  <nav class="navbar navbar-dark" style="background-color: #666;">
    <small>This site made by Itsuki Shibuya</small>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</footer>