<footer>
  <nav class="navbar navbar-dark fixed-bottom" style="background-color: #666;">
    <small>This site made by Itsuki Shibuya</small>
    <ul>
      <li><%= link_to "About", '/about' %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "Home", '/' %></li>
    </ul>
  </nav>
</footer>